Compile the data from WRA (2017 data are updated) to list how many data including time series are in each well.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['figure.dpi'] = 300
plt.rcParams['savefig.dpi'] = 300
plt.rcParams['savefig.bbox'] = 'tight'

import datetime
date = datetime.datetime.now().strftime('%Y%m%d')

%matplotlib inline

# Read 濁水溪沖積扇水質資料1992-2019.xlsx
The data from 2017 are updated.

In [9]:
wa_dict = pd.read_excel('data/濁水溪沖積扇水質資料1992-2019.xlsx', sheet_name=None)
len(wa_dict)

25

In [13]:
wa_dict.keys()

dict_keys(['all', 'MDL', '2019', '2018', '2017', '2016', '2015', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2002', '2001', '2000', '1999', '1997', '1996', '1994', '工作表1', '1993', '1992'])

In [14]:
sheets = ['2019', '2018', '2017', '2016', '2015', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2002', '2001', '2000', '1999', '1997', '1996', '1994', '1993', '1992']

In [18]:
wa_df = pd.DataFrame()

for sheet in sheets:
    wa_ind = pd.read_excel('data/濁水溪沖積扇水質資料1992-2019.xlsx', sheet_name=sheet)
    wa_ind['sheet'] = [sheet for _ in range(len(wa_ind))]
    wa_df = pd.concat([wa_df, wa_ind], axis=0, join='outer')

In [24]:
wa_df

,井號,井名,井別,取樣日期,Hard(mg/L),CL(mg/L),HCO3(mg/L),SO4(mg/L),NO3_N(mg/L),NO2_N(mg/L),...,Temp(度),PH,EC(uS/cm),Organ_N,TOC(mg/L),Eh,CO3(mg/L),TSS(mg/L),sheet,檢驗日期
0,7010211,東芳(1),自記站,2019-06-26,410.0,7.10,236.0,4.60,0.48,NaN,...,25.7,7.44,360.0,NaN,0.4,-31.0,1.0,NaN,2019,NaT
1,7010221,東芳(2),自記站,2019-06-26,1110.0,9.60,272.0,2.20,0.34,NaN,...,26.0,7.76,397.0,NaN,0.5,-50.0,1.0,NaN,2019,NaT
2,7020111,洛津(1),自記站,2019-06-24,386.0,81.10,454.0,58.40,1.53,NaN,...,26.1,7.54,979.0,NaN,0.9,-37.0,1.0,NaN,2019,NaT
3,7020121,洛津(2),自記站,2019-06-24,361.0,1.90,282.0,61.00,0.36,NaN,...,26.4,7.90,552.0,NaN,0.4,-56.0,1.8,NaN,2019,NaT
4,7020131,洛津(3),自記站,2019-06-24,468.0,2.10,261.0,38.60,0.12,NaN,...,25.9,7.84,470.0,NaN,0.3,-49.0,3.0,NaN,2019,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,9150111,田洋(1),自記站,1992-06-08,492.0,56.61,0,63.99,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
11,9150121,田洋(2),自記站,1992-06-08,167.0,8.84,0,28.25,0.00,9999.999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
12,9160111,海園(1),自記站,1992-06-08,141.0,75.50,0,6.49,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
13,9160121,海園(2),自記站,1992-06-08,210.0,253.00,0,33.71,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
14,9160131,海園(3),自記站,1992-06-08,85.0,8.78,0,2.39,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08

# Drop the columns and rows not having any value

In [21]:
wa_df.shape

(2852, 44)

In [23]:
wa_df.dropna(axis=1, how='all', inplace=True)
wa_df.shape

(2852, 42)

In [28]:
wa_df.dropna(axis=0, how='all').shape

(2852, 42)

There is no empty raw, but 2 empty columns.

# Assign id

In [29]:
sdate = wa_df['取樣日期'].astype(str)
wa_df['id'] = ['{}_{}'.format(i, j) for i, j in zip(wa_df['井號'], sdate)]

In [30]:
wa_df.set_index('id', inplace=True)
wa_df

,井號,井名,井別,取樣日期,Hard(mg/L),CL(mg/L),HCO3(mg/L),SO4(mg/L),NO3_N(mg/L),NO2_N(mg/L),...,Temp(度),PH,EC(uS/cm),Organ_N,TOC(mg/L),Eh,CO3(mg/L),TSS(mg/L),sheet,檢驗日期
id,,,,,,,,,,,,,,,,,,,,,
7010211_2019-06-26,7010211,東芳(1),自記站,2019-06-26,410.0,7.10,236.0,4.60,0.48,NaN,...,25.7,7.44,360.0,NaN,0.4,-31.0,1.0,NaN,2019,NaT
7010221_2019-06-26,7010221,東芳(2),自記站,2019-06-26,1110.0,9.60,272.0,2.20,0.34,NaN,...,26.0,7.76,397.0,NaN,0.5,-50.0,1.0,NaN,2019,NaT
7020111_2019-06-24,7020111,洛津(1),自記站,2019-06-24,386.0,81.10,454.0,58.40,1.53,NaN,...,26.1,7.54,979.0,NaN,0.9,-37.0,1.0,NaN,2019,NaT
7020121_2019-06-24,7020121,洛津(2),自記站,2019-06-24,361.0,1.90,282.0,61.00,0.36,NaN,...,26.4,7.90,552.0,NaN,0.4,-56.0,1.8,NaN,2019,NaT
7020131_2019-06-24,7020131,洛津(3),自記站,2019-06-24,468.0,2.10,261.0,38.60,0.12,NaN,...,25.9,7.84,470.0,NaN,0.3,-49.0,3.0,NaN,2019,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9150111_1992-06-08,9150111,田洋(1),自記站,1992-06-08,492.0,56.61,0,63.99,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9150121_1992-06-08,9150121,田洋(2),自記站,1992-06-08,167.0,8.84,0,28.25,0.00,9999.999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9160111_1992-06-08,9160111,海園(1),自記站,1992-06-08,141.0,75.50,0,6.49,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9160121_1992-06-08,9160121,海園(2),自記站,1992-06-08,210.0,253.00,0,33.71,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9160131_1992-06-08,9160131,海園(3),自記站,1992-06-08,85.0,8.78,0,2.39,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08

# Check duplicates

In [31]:
wa_du = wa_df[wa_df.index.duplicated()]
wa_du.shape

(500, 42)

In [32]:
wa_du.sheet.unique()

array(['2009', '2006', '2001', '2000', '1999', '1994'], dtype=object)

These are the measurements taken twice in the same time sam well. After discussed with Kuo, I would just treat them as individuals instead of duplicates for now.

# Replace MDL
For now I just replace it by 0.

In [35]:
wa_se = wa_df.replace('MDL', 0)
wa_se

,井號,井名,井別,取樣日期,Hard(mg/L),CL(mg/L),HCO3(mg/L),SO4(mg/L),NO3_N(mg/L),NO2_N(mg/L),...,Temp(度),PH,EC(uS/cm),Organ_N,TOC(mg/L),Eh,CO3(mg/L),TSS(mg/L),sheet,檢驗日期
id,,,,,,,,,,,,,,,,,,,,,
7010211_2019-06-26,7010211,東芳(1),自記站,2019-06-26,410.0,7.10,236.0,4.60,0.48,NaN,...,25.7,7.44,360.0,NaN,0.4,-31.0,1.0,NaN,2019,NaT
7010221_2019-06-26,7010221,東芳(2),自記站,2019-06-26,1110.0,9.60,272.0,2.20,0.34,NaN,...,26.0,7.76,397.0,NaN,0.5,-50.0,1.0,NaN,2019,NaT
7020111_2019-06-24,7020111,洛津(1),自記站,2019-06-24,386.0,81.10,454.0,58.40,1.53,NaN,...,26.1,7.54,979.0,NaN,0.9,-37.0,1.0,NaN,2019,NaT
7020121_2019-06-24,7020121,洛津(2),自記站,2019-06-24,361.0,1.90,282.0,61.00,0.36,NaN,...,26.4,7.90,552.0,NaN,0.4,-56.0,1.8,NaN,2019,NaT
7020131_2019-06-24,7020131,洛津(3),自記站,2019-06-24,468.0,2.10,261.0,38.60,0.12,NaN,...,25.9,7.84,470.0,NaN,0.3,-49.0,3.0,NaN,2019,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9150111_1992-06-08,9150111,田洋(1),自記站,1992-06-08,492.0,56.61,0.0,63.99,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9150121_1992-06-08,9150121,田洋(2),自記站,1992-06-08,167.0,8.84,0.0,28.25,0.00,9999.999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9160111_1992-06-08,9160111,海園(1),自記站,1992-06-08,141.0,75.50,0.0,6.49,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9160121_1992-06-08,9160121,海園(2),自記站,1992-06-08,210.0,253.00,0.0,33.71,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08
9160131_1992-06-08,9160131,海園(3),自記站,1992-06-08,85.0,8.78,0.0,2.39,0.00,-9999.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,1992-06-08

In [40]:
wa_se.to_excel('data/wra_1992-2019_compile_{}.xlsx'.format(date))
print(date)

20210331

In [57]:
wa_se.describe()

,Hard(mg/L),CL(mg/L),HCO3(mg/L),SO4(mg/L),NO3_N(mg/L),NO2_N(mg/L),NH3_N(mg/L),Ca(mg/L),Mg(mg/L),K(mg/L),...,Pb(mg/L),Ag(mg/L),Temp(度),PH,EC(uS/cm),Organ_N,TOC(mg/L),Eh,CO3(mg/L),TSS(mg/L)
count,836.000000,2082.000000,1253.000000,2082.000000,2230.000000,581.000000,2400.000000,2025.000000,2025.000000,2015.000000,...,2165.000000,657.00000,2338.000000,2080.000000,2191.000000,121.000000,1953.000000,1097.000000,1252.000000,58.000000
mean,411.027053,310.642548,258.810535,106.848604,0.977251,-138.023090,34.474103,74.487649,36.537138,9.648177,...,0.004120,0.00210,25.828550,8.008389,976.771342,2.749008,1.477711,28.670100,0.508466,936.594828
std,1215.534135,2397.715308,142.404705,301.069964,6.698397,1431.751819,576.449279,72.052339,145.288644,52.042429,...,0.014313,0.00693,2.043428,21.854536,2634.084902,1.856063,1.658178,163.640119,1.366111,3946.287873
min,4.200000,0.000000,0.000000,0.000000,-99.999000,-9999.990000,0.000000,0.000000,-0.386000,0.000000,...,0.000000,0.00000,16.500000,4.650000,3.830000,0.140000,-0.200000,-395.000000,-1.400000,15.500000
25%,116.000000,4.200000,204.000000,6.210000,0.000000,0.000000,0.080000,33.300000,7.290000,1.440000,...,0.000000,0.00000,24.600000,7.000000,402.000000,2.000000,0.500000,-114.000000,0.000000,267.250000
50%,192.500000,8.860000,262.000000,48.500000,0.050000,0.000000,0.320000,54.100000,13.600000,2.060000,...,0.000000,0.00000,25.500000,7.385000,515.000000,2.600000,1.100000,-5.000000,0.000000,342.000000
75%,330.000000,22.000000,322.000000,116.000000,0.260000,0.004000,0.952500,94.200000,26.700000,3.500000,...,0.005000,0.00000,26.800000,7.700000,743.450000,3.200000,1.800000,188.000000,1.000000,519.250000
max,16200.000000,41400.000000,2452.000000,7360.000000,107.000000,9999.999000,9999.999000,1008.200000,2980.000000,1220.000000,...,0.312000,0.05000,34.900000,718.000000,37700.000000,15.000000,18.300000,826.000000,38.600000,30400.000000

In [56]:
wa_se.columns[~wa_se.columns.isin(wa_se.describe().columns)]

Index(['井號', '井名', '井別', '取樣日期', 'sheet', '檢驗日期'], dtype='object')

Just check: there are 6 columns not numbers and they all should be string or time correctly.
Therefore, the columns that are identified as string by Tableau should be manually change to numbers.

In [45]:
wa_se['BOD(mg/L)'].unique()

array([  nan, 0.   , 0.52 , 0.4  , 0.5  , 0.35 , 0.24 , 1.   , 1.16 ,
       0.28 , 0.8  , 0.38 , 0.98 , 8.84 , 1.84 , 1.22 , 2.84 , 1.94 ,
       0.22 , 1.26 , 6.36 , 1.1  , 0.84 , 1.02 , 1.06 , 0.58 , 2.16 ,
       0.9  , 1.48 , 1.38 , 0.34 , 0.42 , 0.32 , 0.92 , 0.72 , 0.26 ,
       0.36 , 0.82 , 0.66 , 0.48 , 0.96 , 0.74 , 0.7  , 0.64 , 0.88 ,
       1.04 , 0.56 , 1.59 , 1.54 , 1.14 , 2.66 , 1.2  , 0.68 , 0.81 ,
       2.3  , 0.46 , 0.62 , 0.43 , 2.68 , 2.76 , 0.76 , 1.36 , 1.28 ,
       0.6  , 1.12 , 2.26 , 2.5  , 0.73 , 1.46 , 3.34 , 1.82 , 2.42 ,
       1.52 , 1.64 , 1.92 , 1.9  , 2.1  , 1.6  , 2.32 , 2.08 , 2.18 ,
       1.35 , 0.75 , 3.45 , 4.5  , 2.25 , 6.6  , 0.3  , 3.04 , 3.46 ,
       2.05 , 2.87 , 1.96 , 1.18 , 2.55 , 1.91 , 1.5  , 1.95 , 4.03 ,
       3.6  , 1.62 , 3.81 , 2.67 , 4.2  , 6.9  , 2.44 , 2.17 , 1.43 ,
       1.05 , 1.8  , 2.46 , 2.7  , 6.15 , 2.47 , 3.54 , 0.37 , 0.373,
       0.67 , 0.15 , 0.08 , 0.45 , 4.78 , 4.41 , 3.06 , 2.39 ])

In [52]:
wa_se.loc[~wa_se['BOD(mg/L)'].isna(), 'BOD(mg/L)']

id
7260111_2000-01-01    0.00
7050131_2000-01-01    0.00
7260211_2000-01-01    0.00
9090211_2000-01-01    0.00
7200211_2000-01-01    0.52
                      ...
9150111_1992-06-08    0.00
9150121_1992-06-08    0.00
9160111_1992-06-08    0.00
9160121_1992-06-08    0.00
9160131_1992-06-08    0.00
Name: BOD(mg/L), Length: 490, dtype: float64

# Compile how many measurements in each well.

In [36]:
wa_se['井名'].unique()

array(['東芳(1)', '東芳(2)', '洛津(1)', '洛津(2)', '洛津(3)', '線西(1)', '線西(2)',
       '線西(3)', '線西(4)', '全興(1)', '全興(2)', '全興(3)', '全興(4)', '文昌(1)',
       '文昌(2)', '文昌(3)', '文昌(4)', '花壇(1)', '花橋(1)', '花橋(2)', '花壇(3)',
       '花橋(3)', '花壇(4)', '員林(1)', '員林(2)', '員林(3)', '青山(1)', '青山(2)',
       '溪湖(1)', '溪湖(2)', '溪湖(3)', '田中(1)', '田中(2)', '好修(1)', '好修(2)',
       '好修(3)', '好修(4)', '崙雅(1)', '崙雅(2)', '二水', '香田(1)', '香田(2)',
       '田尾(1)', '田尾(2)', '合興(1)', '合興(2)', '合興(3)', '芳苑(1)', '芳苑(2)',
       '芳苑(3)', '潭墘(1)', '潭墘(2)', '西港(1)', '西港(2)', '西港(3)', '西港(4)',
       '柑園新(1)', '柑園新(2)', '溪州(1)', '溪州(2)', '溪州(3)', '溪州(4)', '下柑(1)',
       '下柑(2)', '過溪', '榮光', '竹山(1)', '竹山(2)', '新光(1)', '新光(2)', '新民(1)',
       '新民(2)', '虎溪(1)', '虎溪(2)', '虎溪(3)', '虎溪(4)', '石榴(1)', '石榴(2)',
       '石榴(3)', '溫厝(1)', '溫厝(2)', '虎尾(1)', '虎尾(2)', '芳草(1)', '芳草(2)',
       '光復(1)', '光復(2)', '西螺(1)', '西螺(2)', '九隆(1)', '九隆(2)', '九隆(3)',
       '土庫(2)', '土庫(3)', '土庫(4)', '北港(1)', '北港(2)', '東和(1)', '東和(2)',
       '古坑(1)', '舊庄(1)', '舊庄(3)', '舊庄(4)', '舊庄(5)', '六合(1)', '六合(2)',
       '莿桐(1)', '莿桐(2)', '湖子內', '重興', '烏塗(2)', '觸口(1)', '觸口(2)', '港後(1)',
       '港後(2)', '港後(3)', '港後(4)', '豐榮(1)', '豐榮(2)', '豐榮(3)', '後安(1)',
       '後安(2)', '興化(1)', '興化(2)', '興化(3)', '海豐(1)', '海豐(2)', '安南(1)',
       '安南(2)', '海園(1)', '海園(2)', '海園(3)', '和豐(1)', '和豐(2)', '客厝(1)',
       '客厝(2)', '客厝(3)', '箔子(1)', '箔子(2)', '箔子(3)', '蔡厝(1)', '蔡厝(2)',
       '明德(1)', '明德(2)', '明德(3)', '明德(4)', '東光(1)', '東光(2)', '東光(3)',
       '東光(4)', '東光(5)', '宜梧(1)', '宜梧(2)', '宜梧(3)', '宜梧(4)', '金湖(1)',
       '金湖(2)', '大溝(1)', '大溝(2)', '三和(1)', '三和(2)', '東石(1)', '東石(2)',
       '東石(3)', '東石(4)', '國聖(1)', '國聖(2)', '國聖(3)', '花壇(2)', '竹塘(1)',
       '竹塘(2)', '舊庄(2)', '海園(4)', '柑園(1)', '柑園(2)', '趙甲(3)', '漢寶(1)',
       '宏崙(1)', '宏崙(2)', '東和(3)', '田洋(2)', '瓊埔(1)', '瓊埔(2)', '安和(3)',
       '下半天(1)', '下半天(2)', '重寮', '員林(4)', '社頭(1)', '社頭(2)', '趙甲(1)',
       '趙甲(2)', '漢寶(2)', '漢寶(3)', '漢寶(4)', '僑義', '鯉魚(1)', '鯉魚(2)',
       '社寮(1)', '斗六', '拯民', '秀潭', '辰光', '崁腳(1)', '崁腳(2)', '嘉興(1)',
       '嘉興(2)', '嘉興(3)', '坪頂(1)', '永定', '二崙', '田洋(1)', '田洋(3)', '崙子(1)',
       '崙子(2)', '元長(1)', '元長(2)', '忠孝', '水林(1)', '水林(2)', '東榮(1)',
       '東榮(2)', '東榮(3)', '東榮(4)', '安和(1)', '安和(2)', '安和(4)', '頂番', '顏厝',
       '田中', '尚義', '西港'], dtype=object)

In [37]:
wa_se.groupby('井名', axis=0).count()

,井號,井別,取樣日期,Hard(mg/L),CL(mg/L),HCO3(mg/L),SO4(mg/L),NO3_N(mg/L),NO2_N(mg/L),NH3_N(mg/L),...,Temp(度),PH,EC(uS/cm),Organ_N,TOC(mg/L),Eh,CO3(mg/L),TSS(mg/L),sheet,檢驗日期
井名,,,,,,,,,,,,,,,,,,,,,
三和(1),21,21,21,4,16,11,16,20,4,18,...,20,19,19,1,19,11,11,1,21,0
三和(2),20,20,20,3,14,11,14,17,1,16,...,18,17,17,0,14,10,11,1,20,0
下半天(1),6,6,6,1,5,4,5,5,0,5,...,5,5,5,1,5,1,4,0,6,0
下半天(2),6,6,6,1,5,4,5,5,0,5,...,5,5,5,1,5,1,4,0,6,0
下柑(1),1,1,1,1,1,1,1,1,0,1,...,1,1,1,0,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
顏厝,1,1,1,0,1,1,1,1,0,1,...,1,1,1,0,1,0,0,0,1,0
香田(1),12,12,12,5,9,5,9,10,4,10,...,9,8,9,0,10,4,3,0,12,1
香田(2),12,12,12,4,7,5,7,7,2,9,...,10,8,9,0,6,3,3,0,12,1
鯉魚(1),10,10,10,3,6,3,6,6,2,6,...,7,7,7,0,6,3,2,0,10,0
鯉魚(2),10,10,10,3,6,3,6,6,2,6,...,7,7,7,0,6,3,2,0,10,0

In [39]:
wa_se.groupby('井名', axis=0).count().to_excel('data/wra_1992-2019_compile_well_{}.xlsx'.format(date))
print(date)

20210331